* {
    margin: 0;
}

.container {
    background: #ecf0f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container2 {
    background: #ecf0f1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.box {
    padding: 30px;
    text-align: center;
    color: black;
    width: 270px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.box1 {
    background-color: tomato;
}

.box2 {
    background-color: teal;
}

.box3 {
    background-color: thistle;
}

.box4 {
    background-color: slategrey;
}

.box5 {
    background-color: darkcyan;
}

.box6 {
    background-color: darkolivegreen;
}

.box7 {
    background-color: darkred;
}

.box8 {
    background-color: darksalmon;
}

.box9 {
    background-color: dodgerblue;
}

.box10 {
    background-color: navy;
}